body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.chat-container {
  display: flex;
  max-width: 1000px; /* Aumentei o tamanho máximo para incluir a barra lateral */
  height: 90vh;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Barra lateral de usuários online */
.sidebar {
  width: 200px;
  padding: 20px;
  background-color: #f7f7f7;
  border-right: 1px solid #ccc;
}

.sidebar h3 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  background-color: #eee;
  margin-bottom: 5px;
  border-radius: 5px;
}

/* Container principal do chat */
.main-chat {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  padding: 15px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ccc;
}

input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
  outline: none;
}

input:focus {
  border-color: #007bff;
}

button {
  padding: 10px 20px;
  background-color: #8000ff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.messages-container {
  flex-grow: 1;
  padding: 15px;
  overflow-y: auto;
  background-color: #f0f0f0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 15px;
  max-width: 75%;
  word-wrap: break-word;
}

.sent {
  background-color: #daf8cb;
  align-self: flex-end;
  text-align: right;
  margin-left: auto;
}

.received {
  background-color: #ffffff;
  align-self: flex-start;
  text-align: left;
  margin-right: auto;
}

li strong {
  display: block;
  font-size: 14px;
  margin-bottom: -10px; /* Espaço entre o nome e a mensagem */
}

li span {
  display: block;
  font-size: 12px;
  color: gray;
}
